.spinner-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    width: 293px;
    height: 100%;
  }
  
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotateY(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotateY(1440deg);
    }
  }
  
  .spinner {
    animation: spin 1.25s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }
  